@layer components {
  /* Nav Link */

  .nav-link:active {
    background-color: transparent !important;
  }

  .nav-link:hover {
    background-color: transparent !important;
  }

  /* Comments form */
  form[name="comments"] {
    @apply mb-8;
  }
  
  form[name="comments"] textarea {
    @apply textarea textarea-bordered w-full;
  }
  
  form[name="comments"] input {
    @apply input input-bordered w-full;
  }
  
  form[name="comments"] .form-label {
    @apply label;
  }
  
  form[name="comments"] label {
    @apply label-text;
  }
  
  form[name="comments"] .buttons {
    @apply mt-4 flex justify-center;
  }
  
  form[name="comments"] button[type="submit"] {
    @apply btn btn-primary btn-wide;
  }
  
  .template-location .comments h3 {
    @apply mb-3;
  }
  
  .template-location .comments .g-recaptcha {
    @apply flex justify-center bg-transparent;
  }

  /* Login Modal */

  .login-modal input[type="text"] {
    @apply input input-bordered w-full;
  }

  .login-modal input[type="password"] {
    @apply input input-bordered w-full;
  }

  .login-modal .form-label {
    @apply label;
  }

  .login-modal .form-label .inline {
    @apply label-text;
  }

  .login-modal .button.primary {
    @apply btn btn-primary;
  }

  .login-modal .button.secondary {
    @apply btn btn-link;
  }

  .login-modal .form-actions {
    @apply flex flex-col justify-center;
  }
  
  .login-modal .rememberme {
    @apply form-control;
  }

  .login-modal .rememberme input[type="checkbox"] {
    @apply checkbox checkbox-primary mr-2 my-2;
  }

  .login-modal .rememberme .form-input-wrapper {
    @apply label cursor-pointer max-w-max mx-auto;
  }

  .login-modal .rememberme label {
    @apply label-text;
  }

  /* Login Template */

  .template-login .site-header {
    @apply shadow-lg;
  }

  .template-login input[type="text"] {
    @apply input input-bordered w-full;
  }

  .template-login input[type="password"] {
    @apply input input-bordered w-full;
  }

  .template-login .form-label {
    @apply label;
  }

  .template-login .form-label .inline {
    @apply label-text;
  }

  .template-login .button.primary {
    @apply btn btn-primary;
  }

  .template-login .button.secondary {
    @apply btn btn-link;
  }

  .template-login .form-actions {
    @apply flex flex-col justify-center;
  }
  
  .template-login .rememberme {
    @apply form-control;
  }

  .template-login .rememberme input[type="checkbox"] {
    @apply checkbox checkbox-primary mr-2 my-2;
  }

  .template-login .rememberme .form-input-wrapper {
    @apply label cursor-pointer max-w-max mx-auto;
  }

  .template-login .rememberme label {
    @apply label-text;
  }

  .template-login #grav-login h2 {
    @apply hidden;
  }

  .template-login .site-footer {
    @apply mt-auto;
  }

  /* Register Template */

  .template-register .site-header {
    @apply shadow-lg;
  }

  .template-register input[type="text"] {
    @apply input input-bordered w-full;
  }

  .template-register input[type="email"] {
    @apply input input-bordered w-full;
  }

  .template-register input[type="password"] {
    @apply input input-bordered w-full;
  }

  .template-register .form-label {
    @apply label;
  }

  .template-register .form-label .inline {
    @apply label-text;
  }

  .template-register .button.primary {
    @apply btn btn-primary;
  }

  .template-register .button.secondary {
    @apply btn btn-link;
  }

  .template-register .form-actions {
    @apply flex flex-col justify-center;
  }
  
  .template-register .rememberme {
    @apply form-control;
  }

  .template-register .rememberme input[type="checkbox"] {
    @apply checkbox checkbox-primary mr-2 my-2;
  }

  .template-register .rememberme .form-input-wrapper {
    @apply label cursor-pointer max-w-max mx-auto;
  }

  .template-register .rememberme label {
    @apply label-text;
  }

  .template-register #grav-login h2 {
    @apply hidden;
  }

  .template-register .site-footer {
    @apply mt-auto;
  }

  .template-register .buttons {
    @apply mt-4 flex justify-between flex-row-reverse;
  }
  
  .template-register button[type="submit"] {
    @apply btn btn-primary;
  }

  .template-register button[type="reset"] {
    @apply btn btn-link;
  }

  /* Profile Template */

  .template-profile input[type="text"] {
    @apply input input-bordered w-full;
  }

  .template-profile input[type="email"] {
    @apply input input-bordered w-full;
  }

  .template-profile input[type="password"] {
    @apply input input-bordered w-full;
  }

  .template-profile .form-label {
    @apply label;
  }

  .template-profile .form-label .inline {
    @apply label-text;
  }

  .template-profile .button.primary {
    @apply btn btn-primary;
  }

  .template-profile .button.secondary {
    @apply btn btn-link;
  }

  .template-profile .form-actions {
    @apply flex flex-col justify-center;
  }
  
  .template-profile .rememberme {
    @apply form-control;
  }

  .template-profile .rememberme input[type="checkbox"] {
    @apply checkbox checkbox-primary mr-2 my-2;
  }

  .template-profile .rememberme .form-input-wrapper {
    @apply label cursor-pointer max-w-max mx-auto;
  }

  .template-profile .rememberme label {
    @apply label-text;
  }

  .template-profile form#profile .avatar {
    @apply block mb-8;
  }
  .template-profile form#profile .avatar > div {
    @apply mx-auto block;
  }

  .template-profile .buttons {
    @apply flex justify-between flex-row-reverse mt-8;
  }
  
  .template-profile button[type="submit"] {
    @apply btn btn-primary;
  }

  .template-profile button[type="reset"] {
    @apply btn btn-link;
  }

  .template-profile .site-header {
    @apply shadow-lg;
  }

  .template-profile .checkboxes .link {
    @apply link-primary;
  }

  .template-profile .checkboxes .link {
    @apply ml-4;
  }

  .template-profile .checkboxes {
    @apply mt-2;
  }

  .template-profile .checkboxes label::before {
    @apply checkbox checkbox-primary;
  } 

  .template-profile .checkboxes input[type="checkbox"]:checked + label::before {
    content: "";
    background-repeat: no-repeat;
    animation: checkmark var(--animation-input,.2s) ease-in-out;
    background-image: linear-gradient(-45deg,transparent 65%,hsl(var(--chkbg)) 65.99%),linear-gradient(45deg,transparent 75%,hsl(var(--chkbg)) 75.99%),linear-gradient(-45deg,hsl(var(--chkbg)) 40%,transparent 40.99%),linear-gradient(45deg,hsl(var(--chkbg)) 30%,hsl(var(--chkfg)) 30.99%,hsl(var(--chkfg)) 40%,transparent 40.99%),linear-gradient(-45deg,hsl(var(--chkfg)) 50%,hsl(var(--chkbg)) 50.99%);
  }
}
