{% set body_classes_slot = "template-article" %}
{% extends 'partials/base.html.twig' %}

{% block hero %}
	<div class="flex items-center py-20 px-4 bg-center relative min-h-[16rem] sm:min-h-[20rem] lg:min-h-[24rem] bg-cover">
    {{ page.media.images|first.derivatives(800,2600,300).sizes('100vw').html(null, page.header.featured_image_alt_description, 'absolute pin object-cover w-full h-full')|raw }}
		<div class="hero-overlay absolute pin bg-gradient-to-b from-black/18 to-black/18"></div>
		<div class="text-center text-base-100 flex flex-col justify-center relative z-10 mx-auto container">
			<h1 class="text-3xl sm:text-5xl font-bold sm:leading-[3.5rem] px-4 tracking-wider">{{- page.title -}}</h1>
		</div>
	</div>
{% endblock %}

{% set author_page = null %}
{% if page.header.author is not empty %}
  {% set author_username = page.header.author %}
  {% for child in page.find('/authors').children %}
    {% if child.header.author_username == author_username %}
      {% set author_page = child %}
    {% endif %}
  {% endfor %}
{% endif %}

{% block content %}

<div class="mb-12 sm:mb-20 w-full rounded prose sm:prose-xl max-w-3xl container mx-auto">
  <div class="p-4">
    {{ page.content|raw }}
  </div>
</div>

{% endblock %}
