{% set body_classes_slot = "template-blog" %}
{% extends 'partials/base.html.twig' %}

{% block hero %}
{% endblock %}

{% block content %}
<div class="container mx-auto">
  <div class="px-4">
    {{ page.content|raw }}

    {{ dump(random(1, 100)) }}
  
  </div>
</div>
{% endblock %}
