{% set flex = grav.get('flex_objects') %}
{% set directory = flex.directory('cities') %}  
{% set collection = directory.getCollection() %}

{% set country_code = uri.param('country_code') %}
{% set as_options = uri.param('as_options') %}

{% if country_code %}
  {% set collection = collection.filterBy({'country': country_code}) %}
{% endif %}

{% if as_options %}
  {% set htmlString %}
    <div id="options-source">
      {% if collection is not empty %}
        {% for city in collection %}
          <option value="{{ city.slug }}">{{ city.name }}</option>
        {% endfor %}
      {% else %}
          <option value="" selected>No cities found for this country.</option>
      {% endif %}
    </div>
  {% endset %}
  {% spaceless %}
    {{ htmlString }}
  {% endspaceless %}
{% else %}
  {% spaceless %}
    {{ collection|json_encode|raw }}
  {% endspaceless %}
{% endif %}