{% set body_classes_slot = "template-contact-us" %}
{% extends 'partials/base.html.twig' %}

{% block hero %}
	<div class="flex items-center py-20 px-4 bg-center relative min-h-[16rem] sm:min-h-[20rem] lg:min-h-[24rem] bg-cover" style="background-image: url({{ page.media.images|first.url }});">
		<div class="hero-overlay absolute pin bg-gradient-to-b from-black/18 to-black/18"></div>
		<div class="text-center text-base-100 flex flex-col justify-center relative z-10 mx-auto container">
			<h1 class="text-3xl sm:text-5xl font-bold sm:leading-[3.5rem] px-4 tracking-wider">Contact Us</h1>
		</div>
	</div>
{% endblock %}

{% block content %}
	<div class="container mx-auto mb-16 sm:mb-24 mt-8 sm:mt-12 max-w-xl">
		<div class="px-4">
			<div class="alert shadow-lg mb-8">
				<div>
					<svg xmlns="http://www.w3.org/2000/svg" fill="none" viewbox="0 0 24 24" class="stroke-info flex-shrink-0 w-6 h-6">
						<path stroke-linecap="round" stroke-linejoin="round" stroke-width="2" d="M13 16h-1v-4h-1m1-4h.01M21 12a9 9 0 11-18 0 9 9 0 0118 0z"></path>
					</svg>
					<span>Please allow 48 business hours for a response to your submission.</span>
				</div>
			</div>
			{% include "forms/form.html.twig" %}

		</div>
	</div>

	{% set alpine %}
	document.addEventListener('alpine:init', () => {
		    Alpine.data('contactUsComponent', () => ({
		      init() {
		        this.initClaimConditionalFields()
		      },
	        initClaimConditionalFields() {
	          const categoryInput = document.getElementById('category-input')
	          const claimOnlyInputs = document.querySelectorAll('.claim-only-form-control')
            const claimInfo = document.querySelector('.claim-info')
	
	          claimOnlyInputs.forEach((el) => {
	            el.style.display = 'none'
              el.querySelector('input').removeAttribute('required')
	          })

            claimInfo.style.display = 'none'
	
	          categoryInput.addEventListener('change', (event) => {
	            const val = event.target.value
	
	            if (val == 'claim') {
	              claimOnlyInputs.forEach((el) => {
	                el.style.display = 'block'
                  el.querySelector('input').setAttribute('required', 'required')
	              })

                claimInfo.style.display = 'block'
	            } else {
	              claimOnlyInputs.forEach((el) => {
	                el.style.display = 'none'
                  el.querySelector('input').removeAttribute('required')
	              })
                claimInfo.style.display = 'none'
	            }
	          })
	        }
		    }))
		  })
	{% endset %}
	{% do assets.addInlineJs(alpine, {id: 'alpine-text-component', group: 'bottom'}) %}
	{% set inlineCss %}
	[hidden] {
		      display: none !important;
		    }
		
		    .dropzone .dz-preview .dz-error-message {
		      top: 165px !important;
		    }
		
		    .dropzone .dz-preview .dz-success-mark, .dropzone .dz-preview .dz-error-mark {
		      top: calc(50% - 18px) !important;
		    }
		
		    .dropzone .dz-preview .dz-remove {
		      font-size: 24px !important;
		    }

        .claim-only-form-control, .claim-info {
          display: none;
        }
	{% endset %}

	{% do assets.addInlineCss(inlineCss) %}
{% endblock %}
