{% set body_classes_slot = "" %}
{% extends 'partials/base.html.twig' %}

{% block content %}

	<div class="p-6 sm:p-12 bg-gray-200 w-full text-gray-800 leading-normal rounded prose max-w-none">
    <div class="badge">neutral</div>
    <div class="badge badge-primary">primary</div>
    <div class="badge badge-secondary">secondary</div>
    <div class="badge badge-accent">accent</div>
    <div class="badge badge-ghost">ghost</div>
		{{ page.content|raw }}
	</div>
{% endblock %}
