{% set body_classes_slot = "template-404 min-h-screen flex flex-col" %}
{% extends 'partials/base.html.twig' %}

{% set inlineCss %}
  #site-footer {
    margin-top: auto;
  }
{% endset %}

{% do assets.addInlineCss(inlineCss) %}

{% block main %}
  <main class="my-auto">
    {% block content %}
      <div class="container mx-auto">
        <div class="px-4">
          <h1 class="text-center"><div>Page not found</div> <div class="mt-8">:/</div></h1>
        </div>
      </div>
    {% endblock %}
  </main>
{% endblock %}

