{% set body_classes_slot = "" %}
{% extends 'partials/base.html.twig' %}

{% block body %}
  	<div 
		class="p-6 sm:p-12 mb-20 bg-gray-200 w-full text-gray-800 leading-normal rounded prose max-w-none">
    {{ page.content|raw }}
    {% include 'forms/form.html.twig' %}
  </div>
{% endblock %}
