{% set body_classes_slot = "template-home" %}
{% extends 'partials/base.html.twig' %}

{% block hero %}
	<div class="py-20 bg-center relative min-h-[16rem] sm:min-h-[28rem] lg:min-h-[40rem] bg-cover flex items-center" style="background-image: url({{ page.media.images|first.url }});">
		<div class="hero-overlay absolute pin bg-gradient-to-b from-black/30 to-black/18"></div>
		<div class="text-center text-base-100 flex flex-col justify-center relative z-10 mx-auto container">
      <h1 class="mb-5 text-3xl sm:text-5xl font-bold px-4 tracking-wider font-shadows-light">NomadBeans</h1>
      <p class="mb-5 text-lg sm:text-2xl w-2/3 px-4 mx-auto">Cafe Finder for Digital Nomads.</p>
      {% include 'partials/hero-search.html.twig' %}
		</div>
	</div>
{% endblock %}


{% block content %}
	{# Category grid #}
	<section class="container mx-auto my-12 md:my-20" data-section="category-grid">
		<div class="px-4">
			<header class="pt-4 relative before:content-[''] before:h-1 before:bg-accent before:w-16 before:absolute before:top-0 before:left-0">
				<h2 class="mb-2 sm:mb-1 text-3xl leading-tight sm:text-5xl sm:leading-tight">Most Popular Categories</h2>
				<div class="text-gray-400">
					Find great places to stay, eat, shop, or visit the city
				</div>
			</header>

			<ul class="grid grid-cols-1 sm:grid-cols-2 lg:grid-cols-3 gap-8 mt-7 sm:mt-12">
				{% set k = 6 %}
				{% for i in range(1, k) %}
					<li class="relative bg-cover rounded-md bg-center overflow-hidden pt-[70%] sm:pt-[100%]">
						<a href="#" class="absolute top-0 bottom-0 left-0 right-0">
              <img class="absolute top-0 bottom-0 left-0 right-0 hover:scale-110 transition-transform duration-300 hover:rotate-2" src="https://placeimg.com/600/600/arch" alt="arch">
              <div class="overlay absolute top-0 bottom-0 left-0 right-0 bg-gradient-to-b from-transparent via-transparent to-black pointer-events-none"></div>
							<footer class="flex absolute bottom-0 text-white pl-4 pb-4">
								<div class="p-2 mr-4 bg-accent rounded-md">
                  <svg xmlns="http://www.w3.org/2000/svg" width="36" height="36" fill="currentColor" class="bi bi-calendar2-week-fill" viewBox="0 0 16 16">
                    <path d="M3.5 0a.5.5 0 0 1 .5.5V1h8V.5a.5.5 0 0 1 1 0V1h1a2 2 0 0 1 2 2v11a2 2 0 0 1-2 2H2a2 2 0 0 1-2-2V3a2 2 0 0 1 2-2h1V.5a.5.5 0 0 1 .5-.5zm9.954 3H2.545c-.3 0-.545.224-.545.5v1c0 .276.244.5.545.5h10.91c.3 0 .545-.224.545-.5v-1c0-.276-.244-.5-.546-.5zM8.5 7a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zm3 0a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1zM3 10.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1a.5.5 0 0 0-.5.5zm3.5-.5a.5.5 0 0 0-.5.5v1a.5.5 0 0 0 .5.5h1a.5.5 0 0 0 .5-.5v-1a.5.5 0 0 0-.5-.5h-1z"/>
                  </svg>
								</div>
								<div class="flex flex-col justify-center">
									<h3 class="font-normal text-lg">
										Seating
									</h3>
									<div>
										7 Listings
									</div>
								</div>
							</footer>
						</a>
					</li>
				{% endfor %}
			</ul>

		</div>
	</section>

	<div class="container mx-auto my-12">
		<div class="prose px-4 max-w-max">
			{{ page.content|raw }}
		</div>
	</div>
{% endblock %}
