{% set body_classes_slot = "template-register" %}
{% extends 'partials/base.html.twig' %}

{% block hero %}
  <h1 class="text-center my-12 lg:my-20 text-4xl sm:text-5xl">Register</h1>
{% endblock %}

{% block content %}
  <div class="max-w-md px-4 my-20 mx-auto">
    {% include 'forms/form.html.twig' with { form: forms('register') } %}
  </div>
{% endblock %}

{% set js %}
  document.getElementById('login-link').addEventListener('click', function() {
    window.location.href = '{{ grav.config.plugins.login.route }}'
  })

{% endset %}
{% do assets.addInlineJs(js, {id: 'template-register-inline-js', group: 'bottom'}) %}