# Grav Specific
.sass-cache
composer.lock
cache/*
assets/*
logs/*
images/*
backup
user/data/feed
user/data/notifications
user/images/submissions-tmp/*
user/images/reviews/*
node_modules

# OS Generated
.DS_Store*
ehthumbs.db
Icon?
Thumbs.db
*.swp