<div class="grid-card">
  <div class="grid-card__inner">

    <div class="grid-card__content">
      <div class="grid-card__icon-wrapper">
        <img src="" alt="">
      </div>
      <div class="grid-card__copy-wrapper">
        <h4 class="grid-card__heading">

        </h4>
        <div class="grid-card__description">

        </div>
      </div>
    </div>
  </div>
</div>