<form class="bg-glass rounded w-full px-4 text-base-content">
	<div class="flex gap-0 items-end max-w-lg mx-auto">
		<div class="w-2/5">
			<label class="sr-only" for="grid-password">Keywords</label>
			<input type="text" placeholder="Type here" class="input input-bordered input-primary input-md w-full max-w-xs rounded-r-none border-r-0 focus:border-r-2 focus:outline-offset-0"/>
		</div>
		<div class="w-2/5">
			<label class="sr-only" for="grid-city">City</label>
			<input type="text" placeholder="Type here" class="input input-bordered input-primary input-md w-full max-w-xs rounded-r-none rounded-l-none border-l-0 focus:outline-offset-0"/>
		</div>
		<div class="w-1/5 mt-4 md:mt-0">
			<button class="btn btn-primary w-full rounded-l-none">Search</button>
		</div>
	</div>
</form>
