<ul class="menu p-4 overflow-y-auto w-80 bg-base-100">
  <li>
    <a href="/" class="btn btn-ghost normal-case text-2xl font-shadows-light hover:bg-transparent justify-start mb-2">MadBeans</a>
  </li>
  <!-- Sidebar content here -->
  <li>
    <a href="/locations" class="nav-link">Locations</a>
  </li>
  <li>
    <a href="/blog" class="nav-link">Blog</a>
  </li>
</ul>
