<ul class="menu p-4 overflow-y-auto w-80 bg-base-100 font-medium pl-4">
  <li class="-ml-4">
    <a href="/" class="btn btn-ghost normal-case text-2xl font-shadows-light hover:bg-transparent justify-start mb-2">NomadBeans</a>
  </li>
  <li>
    <a href="/search" class="nav-link">Search</a>
  </li>
  <li>
    <a href="/blog" class="nav-link">Blog</a>
  </li>
  {% if config.plugins.login.enabled and grav.user.username %}
    {% if grav.user.authenticated %}
      <li>
        <a href="/account/profile" class="nav-link">Profile</a>
      </li>
      <li>
        <a href="/submit" class="nav-link">Submit a Cafe</a>
      </li>
      <li class="w-full">
        <a class="nav-link" href="{{ url(uri.addNonce((uri.path)|trim('/') ~ '/task' ~ config.system.param_sep ~ 'login.logout', 'logout-form', 'logout-nonce'))|e }}">Logout</a>
      </li>
    {% endif %}
  {% else %}
    <li>
      <a href="/account/login" class="nav-link">Login</a>
    </li>
    <li>
      <a href="/account/register" class="nav-link">Register</a>
    </li>
  {% endif %}
</ul>
