<div class="container mx-auto py-8">
  <div class="px-4">
    i'm the locations collection page <br>

    All locations: <br>
    {% for obj in collection %}
    <a href="/locations/{{ obj.slug }}">
      {{ obj.name }}
    </a>
    {% endfor %}
  </div>
</div>

<div class="p-4"></div>